.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: rgba(64, 64, 64, 1);
    padding: 30px;
    & .sect1{
        width: 40%;
        & img{
            width: 40%;
        }
        & h1{
            font-size: 36px;
            color:rgba(224, 224, 224, 1);
        }

    }
    & .sect2{
        width: 40%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        & div span{
            display: block;
            font-size: 20px;
            color: rgba(224, 224, 224, 1);
        }
    }
    & p{
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: rgba(224, 224, 224, 1)
    }
}