
.grid h1{
    font-size: 48px;
    font-weight: 700;
}
.grid p{
    color:rgba(196, 196, 196, 1);
}
.grid{
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,40%);
    grid-template-rows:500px 677px ;
    column-gap: 10%;
    & .info{
        & h1{
            font-size: 48px;
        }
        & p{
            font-size: 18px;
            font-weight: 600;
            color:rgba(111, 111, 111, 1);
        }
    }
    & .div2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap:30px;
        & div{
            text-align: center;
        }
    }
    & .div3{
        max-width: 578px;
        min-width: 400px;
        & img {
            width: 100%;
            height: auto;
        }  
    }
    & .div4{
        & div{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3,1fr);

        }
    }
}
@media only screen and (max-width: 1048px){
    .grid{
        grid-template-columns:1fr;
        grid-template-rows: repeat(4, 400px);
        row-gap: 100px;
        justify-items: center;
    }
    .info{
        width: 80%;
        
    }
    .div3{
        margin: 0 auto;
    }
    .grid h1{
        text-align: center;
    }
}