.main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    & .testimonies{
        position: relative;
        width: 50%;
        height: 100%;
        & h1{
            position: relative;
            top:-30px;
            font-size: 48px;
        }
        & p{
           font-size: 18px;
           font-weight: 400;
           color:rgba(196, 196, 196, 1)
        }
        & .btns{
            position: absolute;
            right: 50px;
            bottom: -4px;
            & img{
                margin: 0 10px;
            }
        }
    }
    & .pic{
        max-width: 578px;
        min-width: 400px;
        width: 50%;
        & img{
            width: 100%;
            height: auto;
        }
    }
}
.frequentlyasked{
    margin:50px;
    & .questions{
        position: relative;
        left: 20%;
        margin-top: 70px;
        width:80%;
        & h3{
            color:rgba(1, 137, 13, 1);
            font-size: 22px;
            font-weight: 500;
        }
        & p{
            font-size: 18px;
            font-weight: 400;
            color: rgba(111, 108, 144, 1)
        }
        & div{
            height: 80px;
            border-top: 1px solid rgba(217, 219, 233, 1);
            border-bottom: 1px solid rgba(217, 219, 233, 1);
            display: flex;
            justify-content: space-between;
            & p{
                color:rgba(23, 15, 73, 1);
                font-weight: 500;
                font-size: 22px;
            }
        }
    }
}